{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Red social de escritores y lectores {% endblock %}</title>
    </head>
    <body>
		{% block body %}
        <nav>
			{% block header %}
				{{ include('nav.html.twig') }}
				<hr>
			{%endblock %}
        </nav>
		{% block content%}
		{% endblock%}        
        {% endblock %}
    </body>
</html>
