{# templates/register.html.twig #}
<form action="{{ path('register') }}" method="post">
        <div ><h1>New User Form</h1>
    <form action="" method="POST">

  <label for="newName">Name:</label>
            <input type="text" name="newName"><br><br>

            <label for="newEmail">Email:</label>
            <input type="text" name="newEmail"><br><br>

          

             <label for="newProfile">Profile:</label>
            <input type="text" name="newProfile"><br><br>

            <label for="newPassword">Password:</label>
            <input type="password" name="newPassword"><br><br>

           
            <input type="submit" value="submit"> 
            <input type="reset" value="delete">
</div>
    </form>