{# templates texts.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>WELCOME TO YOUR PRINCIPAL PAGEeee</h1>
        <hr>

{% for text in texts %}
            <h2>Title: {{ text.description }}</h2>
            <p>Text: {{ text.content }}</p>
           
            <p>Genre: {{ text.genre }}</p>
            <p>Privacy: {{ text.privacy }}</p>

            {# Formulario para eliminar el texto #}
        

            <br>


            <br>
            <hr>
        {% endfor %}


{% endblock %}
